@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigations {
  width: 534px;
  height: 516px;
  /* margin-top: 143px;
  margin-left: 158px; */
  gap: 10px;
  opacity: 0px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

body {
  background-color: black;
  height: 100%;
}

.main-content {
  margin: 143px 172px 144px 158px;
  display: flex;
  gap: 44px;
  align-items: center;
}

.slider {
  gap: 0px;
  opacity: 0px;
}

.swiper {
  width: 532px;
  height: 516px;
  background-color: rgba(43, 97, 145, 0.603);
}
.title {
  margin-top: 49px;
  margin-left: 50px;
  font-family: Inter;
  font-size: 22px;
  color: white;
  font-weight: 400;
  line-height: 26.63px;
  letter-spacing: 0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.subtitle p {
  color: #c92b2b;
  margin-top: 7px;
  margin-left: 50px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.text {
  margin-top: 26px;
  margin-left: 53px;
  width: 420px;
  height: 321px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: white;
}
.buttons {
  width: 151px;
  height: 151px;
}
.buttons img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
